<!DOCTYPE html>
<html lang="mx">
    <body onload="setInterval('location.reload()',3000)">
    <div class="container">
    <br>
    <br>
</div>

<center>
<div class=".caja1" style="width: 1100px;">
<div class="col-sm-20">
    <div class="card">
        <div class="alert alert-danger" role="alert">
            <img src="p1.png" class="rounded float-left"  width="50px" height="50px"><h1 style="font: bold; font-size: 40px;"> Paciente</h1>
                </div>
    <table class="table">
        <thead>
        <tr>
        <th scope="col"  style="font-size: 20px;">Nombre</th>
        <th scope="col"  style="font-size: 20px;">Correo para notificaciones</th>  
        <th scope="col"  style="font-size: 20px;">Edad</th>
            <th scope="col"  style="font-size: 20px;">Género</th> 
            <th scope="col"> </th>
        </tr>      
    
        {{#if usuario}}
            <ul class="list-group">
                {{#each usuario}}
                    <tr>
                    <th scope="col" style="font-size: 20px;">{{nombre}}</th>
                    <th scope="col" style="font-size: 20px;">{{correo}}</th>  
                    <th scope="col" style="font-size: 20px;">{{edad}} </th>
                    <th scope="col" style="font-size: 20px;">{{genero}}</th> 
                    <th scope="col" style="font-size: 20px;"><a href="delete-usuario/{{@key}}" class="btn btn-danger">Regresar</a></th>
                    </tr>
                {{/each}}
            </ul>
            {{else}}
                <p>No hay Usuarios Ingresados.</p>
            {{/if}}
            </thead>
        </table>
    </div>
    </div>
</div>
</center>


<div class=".caja1" style="padding-left: 250px; text-align: center; padding-top: 50px; height: 400px;">
    <div class="col-sm-20">
    <div class="card">
        <div class="alert alert-info" role="alert">
           
            {{#each usuario}}
            </ul>
              <img src="p.png" class="rounded float-left"  width="40px" height="40px"><h3 style="font: bold; font-size: xx-large;"> Hola {{nombre}} esta es tu temperatura</h3> 
               {{/each}}
            </ul>
      </div>
    <div class="card-body">
               {{#if newhistorial}}
                 <h2 style="text-align: center; font-size: 80px;">{{datos}} °C</h2>   
               {{else}}
                <p>No hay Historial registrado.</p>
               {{/if}}
    </div>

   
        </div>
    </div>
</div>

<div class="container" style="padding-left: 20%;" >
    <div class="alert alert-info" role="alert" style="width: 648px; padding-left: 30%; background: linear-gradient(to top left, #ff6699 0%, #00ffff 100%);">
        <h1>Historial</h1>  
    </div>   
  <div class="row" style="text-align: center;" >
    <div class="col-sm-3" style="background-color:#93d0f8; padding-right: 30px; text-align: center; background: linear-gradient(to top left, #ff6699 0%, #00ffff 100%);" >
     {{#if newhistorial}} 
                {{#each newhistorial}} 
                    <div style="text-align: center; font-size: 25px;" >
                        {{temp}}
                    </div>
                {{/each}}
        {{else}}
                <p>No hay Historial registrado.</p>
        {{/if}}
    </div>
    <div class="col-sm-3" style="background-color:#3b94cf; text-align: center; background: linear-gradient(to top left, #ff6699 0%, #00ffff 100%);">
       {{#if date}}
                 {{#each date}}
                 <div style="text-align: center; font-size: 25px;" >
                    {{fecha}} 
                 </div>
                 {{/each}}
            {{else}}
                 <p>nada</p>
       {{/if}}.    
    </div>
     <div class="col-sm-3" style="background-color:#1673b1; padding-right: 30px; text-align: center; background: linear-gradient(to top left, #ff6699 0%, #00ffff 100%);" >
     {{#if hour}} 
                {{#each hour}} 
                    <div style="text-align: center; font-size: 25px;" >
                        {{hora}}
                    </div>
                {{/each}}
        {{else}}
                <p>No hay Horarios Registrados</p>
        {{/if}}
    </div>
  </div>
</div>


        
        
    </div>
        </div>


</body>


</html>


